aiofiles==0.6.0
bcrypt==3.2.0
certifi==2020.12.5
cffi==1.14.4
chardet==4.0.0
click==7.1.2
cryptography==3.3.2
dataclasses==0.8
fastapi==0.63.0
fimed==0.0.1
h11==0.12.0
idna==2.10
numpy==1.19.5
pandas==1.1.5
passlib==1.7.4
pycparser==2.20
pydantic==1.7.3
PyJWT==2.0.0
pymongo==3.11.2
python-dateutil==2.8.1
python-dotenv==0.15.0
python-multipart==0.0.5
pytz==2020.5
requests==2.25.1
six==1.15.0
starlette==0.13.6
strconv==0.4.2
typing-extensions==3.7.4.3
urllib3==1.26.2
uvicorn==0.13.3
wincertstore==0.2
